@{
    ViewBag.Title = "Category";
}
    <!--=====================
              Content
    ======================-->
    <section class="content">
        <div class="ic"></div>
        <div class="container">
            <div class="row"> 
                <div class="grid_12">
                    <div class="ta__center">
                        <h2>Category</h2>
                        <div class="st1">
                            With a team of professional programmers and highly specialized skills,<br/>it will definitely create satisfied users!!!
                        </div>
                        <div class="banners">
                            <a href="@Url.Action("getAllProject", "Project", new {category = "Web"})" class="banner">
                                <img src="~/images/web-design.png" alt="">
                                <div class="bann_capt"><span>Web</span></div>
                            </a>
                            <a href="@Url.Action("getAllProject", "Project", new {category = "App"})" class="banner">
                                <img src="~/images/app-design.png" alt="">
                                <div class="bann_capt"><span>App</span></div>
                            </a>
                            <a href="@Url.Action("getAllProject", "Project", new {category = "Game"})" class="banner">
                                <img src="~/images/game_design.png" alt="">
                                <div class="bann_capt"><span>Game</span></div>
                            </a>
                            <a href="@Url.Action("getAllProject", "Project", new {category = "Data"})" class="banner">
                                <img src="~/images/data_design.png" alt="">
                                <div class="bann_capt"><span>Database</span></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    