
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <section class="content">
        <div class="ic">More Website Templates TemplateMonster.com - June 16, 2014!</div>
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <h3 class="ta__center">Our Location</h3>
                    <div class="map">
                        <figure class="">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24214.807650104907!2d-73.94846048422478!3d40.65521573400813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1395650655094" style="border:0"></iframe>
                        </figure>
                    </div>
                </div>
                <div class="grid_6">
                    <div class="text1 tx__1">Contact Form</div>
                    <form id="form">
                        <div class="form_spinner">
                            <img src="~/images/Preloader_4.gif" alt="">
                        </div>
                        <div class="modal fade response-message">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Modal title</h4>
                                    </div>
                                    <div class="modal-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="response-error-message"></div>
                        <label class="name">
                            <input type="text" name="name" placeholder="Name:" value=""/>
                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*This is not a valid name.</span>
                        </label>
                        <label class="email">
                            <input type="text" name="email" placeholder="E-mail:" value=""/>
                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*This is not a valid email.</span>
                        </label>
                        <label class="phone">
                            <input type="text" name="phone" placeholder="Phone:" value=""/>
                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*This is not a valid phone.</span>
                        </label>
                        <label class="message">
                            <textarea name="message" placeholder="Message:"></textarea>
                            <span class="empty-message">*This field is required.</span>
                            <span class="error-message">*The message is too short.</span>
                        </label>
                        <div class="clear"></div>
                        <div class="btns">
                            <a href="#" data-type="reset" class="btn">clear</a>
                            <a href="#" data-type="submit" class="btn">send</a>
                        </div>
                    </form>
                </div>
                <div class="grid_6">
                    <div class="text1 tx__1">Contact Information</div>
                    <p>We offer you 24/7 support for all <span class="color1 fw1"><a href="http://www.templatemonster.com/" rel="nofollow">premium templates</a></span>. </p>
                    <p>If you need help in customization of freebies, ask guys from <span class="color1 fw1"><a href="http://www.templatetuning.com/" rel="nofollow">TemplateTuning</a></span>.</p>
                    <p>Ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto mertoInteger convallis orcidet wertolo monolaoreetatwertlim wernom vertIpsum dolor sit amsecteturertolom  lid ber asrot gertoli moniko.</p>
                    The Company Name Inc. <br>
                    9870 St Vincent Place, <br>
                    Glasgow, DC 45 Fr 45. <br>
                    Telephone: +1 800 603 6035 <br>
                    FAX: +1 800 889 9898 <br>
                    E-mail: <a href="#">mail@demolink.org</a>
                </div>
            </div>
        </div>
    </section>