<section class="content">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <h3>Projects which were bought nearest!</h3>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="#">
                        <div class="img"><img src="~/Content/images/web1.png" alt="img"></div>
                        <div class="info">
                            <h3>Silicone</h3>
                            <p>Learn more...</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="#">
                        <div class="img"><img src="~/Content/images/app1.png" alt="img"></div>
                        <div class="info">
                            <h3>Snapseed</h3>
                            <p>Learn more...</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="#">
                        <div class="img"><img src="~/Content/images/game1.png" alt="img"></div>
                        <div class="info">
                            <h3>Bloody Roar</h3>
                            <p>Learn more...</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="#">
                        <div class="img"><img src="~/Content/images/data1.png" alt="img"></div>
                        <div class="info">
                            <h3>Relational</h3>
                            <p>Learn more...</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>