<section class="content">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <h3>Projects which were bought nearest!</h3>
            </div>
            <div class="grid_3" style="text-align:">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="#">
                        <div class="img"><img src="~/Content/images/web1.png" alt="img"></div>
                        <div class="info">
                            <h3>Silicone</h3>
                            <p>Learn more...</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="#">
                        <div class="img"><img src="~/Content/images/app1.png" alt="img"></div>
                        <div class="info">
                            <h3>Snapseed</h3>
                            <p>Learn more...</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="#">
                        <div class="img"><img src="~/Content/images/game1.png" alt="img"></div>
                        <div class="info">
                            <h3>Bloody Roar</h3>
                            <p>Learn more...</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="#">
                        <div class="img"><img src="~/Content/images/data1.png" alt="img"></div>
                        <div class="info">
                            <h3>Relational</h3>
                            <p>Learn more...</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="grid_12">
                <h3 class="head1">Comments of customers</h3>
            </div>
            <div class="grid_6">
                <img src="~/Content/images/customer1.png" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                    <div class="text1">
                        <time datetime="2023-10-01">1/10/2023</time>
                        <a href="#">Ai Nhi</a>
                    </div>
                    The projects are presented very beautifully, the prices are reasonable!!!
                </div>
                <div class="clear"></div>
            </div>
            <div class="grid_6">
                <img src="~/Content/images/customer2.png" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                    <div class="text1">
                        <time datetime="2023-10-05">5/10/2023</time>
                        <a href="#">Cam Ngoc</a>
                    </div>
                    I really like these projects, they are so beautiful and give great results!
                </div>
                <div class="clear"></div>
            </div>
            <div class="grid_6">
                <img src="~/Content/images/customer3.png" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                    <div class="text1">
                        <time datetime="2023-10-11">11/10/2023</time>
                        <a href="#">Minh Quang</a>
                    </div>
                    Projects on this web are really good!!
                </div>
                <div class="clear"></div>
            </div>
            <div class="grid_6">
                <img src="~/Content/images/customer4.png" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                    <div class="text1">
                        <time datetime="2023-10-15">15/10/2023</time>
                        <a href="#">Ngoc Nguyen</a>
                    </div>
                    I will continue support at next time!
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</section>