<section class="content">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <h3>Featured Projects</h3>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="#">
                        <div class="img"><img src="~/images/circ_img1.jpg" alt="img"></div>
                        <div class="info">
                            <h3>Taxi Company</h3>
                            <p>learn more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="#">
                        <div class="img"><img src="~/images/circ_img2.jpg" alt="img"></div>
                        <div class="info">
                            <h3>Mod Portfolio</h3>
                            <p>learn more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="#">
                        <div class="img"><img src="~/images/circ_img3.jpg" alt="img"></div>
                        <div class="info">
                            <h3>Marathon</h3>
                            <p>learn more</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="grid_3">
                <div class="ih-item circle effect2 left_to_right">
                    <a href="#">
                        <div class="img"><img src="~/images/circ_img4.jpg" alt="img"></div>
                        <div class="info">
                            <h3>Travel Agency</h3>
                            <p>learn more</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>