@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <title>LQT- World of devices</title>

</head>
<body>
    <div id="wrapper">
        <div class="hot_sale">
            <p id="sale_title">Điện thoại giảm giá</p>
            <h6 id="time_sale"><b>Thời gian:</b>@DateTime.Now.ToShortDateString()- @DateTime.Now.AddDays(2).ToShortDateString()</h6>
        </div>
        <ul class="sale_devices">
            <li>
                <div class="each_device">
                    <div class="device_head">
                        <a href="" class="device_thumb">
                            <img src="~/Content/images/ip15.png" />
                        </a>
                    </div>
                    <div class="device_body">
                        <a href="" class="device_name">Iphone 15 8GB 256GB</a>
                        <div class="device_price">
                            <p class="device_sale_price">24.000.000đ</p>
                            <p class="device_old_price">28.000.000đ</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="each_device">
                    <div class="device_head">
                        <a href="" class="device_thumb">
                            <img src="~/Content/images/ip15.png" />
                        </a>
                    </div>
                    <div class="device_body">
                        <a href="" class="device_name">Iphone 15 8GB 256GB</a>
                        <div class="device_price">
                            <p class="device_sale_price">24.000.000đ</p>
                            <p class="device_old_price">28.000.000đ</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="each_device">
                    <div class="device_head">
                        <a href="" class="device_thumb">
                            <img src="~/Content/images/ip15.png" />
                        </a>
                    </div>
                    <div class="device_body">
                        <a href="" class="device_name">Iphone 15 8GB 256GB</a>
                        <div class="device_price">
                            <p class="device_sale_price">24.000.000đ</p>
                            <p class="device_old_price">28.000.000đ</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="each_device">
                    <div class="device_head">
                        <a href="" class="device_thumb">
                            <img src="~/Content/images/ip15.png" />
                        </a>
                    </div>
                    <div class="device_body">
                        <a href="" class="device_name">Iphone 15 8GB 256GB</a>
                        <div class="device_price">
                            <p class="device_sale_price">24.000.000đ</p>
                            <p class="device_old_price">28.000.000đ</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="each_device">
                    <div class="device_head">
                        <a href="" class="device_thumb">
                            <img src="~/Content/images/ip15.png" />
                        </a>
                    </div>
                    <div class="device_body">
                        <a href="" class="device_name">Iphone 15 8GB 256GB</a>
                        <div class="device_price">
                            <p class="device_sale_price">24.000.000đ</p>
                            <p class="device_old_price">28.000.000đ</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="each_device">
                    <div class="device_head">
                        <a href="" class="device_thumb">
                            <img src="~/Content/images/ip15.png" />
                        </a>
                    </div>
                    <div class="device_body">
                        <a href="" class="device_name">Iphone 15 8GB 256GB</a>
                        <div class="device_price">
                            <p class="device_sale_price">24.000.000đ</p>
                            <p class="device_old_price">28.000.000đ</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="each_device">
                    <div class="device_head">
                        <a href="" class="device_thumb">
                            <img src="~/Content/images/ip15.png" />
                        </a>
                    </div>
                    <div class="device_body">
                        <a href="" class="device_name">Iphone 15 8GB 256GB</a>
                        <div class="device_price">
                            <p class="device_sale_price">24.000.000đ</p>
                            <p class="device_old_price">28.000.000đ</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="each_device">
                    <div class="device_head">
                        <a href="" class="device_thumb">
                            <img src="~/Content/images/ip15.png" />
                        </a>
                    </div>
                    <div class="device_body">
                        <a href="" class="device_name">Iphone 15 8GB 256GB</a>
                        <div class="device_price">
                            <p class="device_sale_price">24.000.000đ</p>
                            <p class="device_old_price">28.000.000đ</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!--Quảng cáo-->
        <div id="comment">
            <h2>NHẬN XÉT CỦA KHÁCH HÀNG</h2>
            <div id="comment-body">
                <div class="prev">
                    <a href="#">
                        <img src="~/Content/images/assets/prev.png" alt="">
                    </a>
                </div>
                <ul id="list-comment">
                    <li class="item">
                        <div class="avatar">
                            <img src="~/Content/images/assets/avatar_1.png" alt="">

                        </div>
                        <div class="stars">
                            <span>
                                <img src="~/Content/images/assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="~/Content/images/assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="~/Content/images/assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="~/Content/images/assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="~/Content/images/assets/star.png" alt="">
                            </span>
                        </div>
                        <div class="name">Nguyễn Đình Vũ</div>

                        <div class="text">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type
                                specimen book.
                            </p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="avatar">
                            <img src="~/Content/images/assets/avatar_1.png" alt="">

                        </div>
                        <div class="stars">
                            <span>
                                <img src="~/Content/images/assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="~/Content/images/assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="~/Content/images/assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="~/Content/images/assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="~/Content/images/assets/star.png" alt="">
                            </span>
                        </div>
                        <div class="name">Trần Ngọc Sơn</div>

                        <div class="text">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type
                                specimen book.
                            </p>
                        </div>
                    </li>
                    <li class="item">
                        <div class="avatar">
                            <img src="~/Content/images/assets/avatar_1.png" alt="">

                        </div>
                        <div class="stars">
                            <span>
                                <img src="~/Content/images/assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="~/Content/images/assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="~/Content/images/assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="~/Content/images/assets/star.png" alt="">
                            </span>
                            <span>
                                <img src="~/Content/images/assets/star.png" alt="">
                            </span>
                        </div>
                        <div class="name">Nguyễn Trần Vi</div>

                        <div class="text">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type
                                specimen book.
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="next">
                    <a href="#">
                        <img src="~/Content/images/assets/next.png" alt="">
                    </a>
                </div>
            </div>
        </div>


            <!---->
            <div class="hot_sale">
                <p id="sale_title">Ưu đãi giảm giá</p>
                <h6 id="time_sale"><b>Thời gian:</b>@DateTime.Now.ToShortDateString()- @DateTime.Now.AddDays(2).ToShortDateString()</h6>
            </div>
            <ul class="sale_devices">
                <li>
                    <div class="each_device">
                        <div class="device_head">
                            <a href="" class="device_thumb">
                                <img src="~/Content/images/ip15.png" />
                            </a>
                        </div>
                        <div class="device_body">
                            <a href="" class="device_name">Iphone 15 8GB 256GB</a>
                            <div class="device_price">
                                <p class="device_sale_price">24.000.000đ</p>
                                <p class="device_old_price">28.000.000đ</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="each_device">
                        <div class="device_head">
                            <a href="" class="device_thumb">
                                <img src="~/Content/images/ip15.png" />
                            </a>
                        </div>
                        <div class="device_body">
                            <a href="" class="device_name">Iphone 15 8GB 256GB</a>
                            <div class="device_price">
                                <p class="device_sale_price">24.000.000đ</p>
                                <p class="device_old_price">28.000.000đ</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="each_device">
                        <div class="device_head">
                            <a href="" class="device_thumb">
                                <img src="~/Content/images/ip15.png" />
                            </a>
                        </div>
                        <div class="device_body">
                            <a href="" class="device_name">Iphone 15 8GB 256GB</a>
                            <div class="device_price">
                                <p class="device_sale_price">24.000.000đ</p>
                                <p class="device_old_price">28.000.000đ</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="each_device">
                        <div class="device_head">
                            <a href="" class="device_thumb">
                                <img src="~/Content/images/ip15.png" />
                            </a>
                        </div>
                        <div class="device_body">
                            <a href="" class="device_name">Iphone 15 8GB 256GB</a>
                            <div class="device_price">
                                <p class="device_sale_price">24.000.000đ</p>
                                <p class="device_old_price">28.000.000đ</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="each_device">
                        <div class="device_head">
                            <a href="" class="device_thumb">
                                <img src="~/Content/images/ip15.png" />
                            </a>
                        </div>
                        <div class="device_body">
                            <a href="" class="device_name">Iphone 15 8GB 256GB</a>
                            <div class="device_price">
                                <p class="device_sale_price">24.000.000đ</p>
                                <p class="device_old_price">28.000.000đ</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="each_device">
                        <div class="device_head">
                            <a href="" class="device_thumb">
                                <img src="~/Content/images/ip15.png" />
                            </a>
                        </div>
                        <div class="device_body">
                            <a href="" class="device_name">Iphone 15 8GB 256GB</a>
                            <div class="device_price">
                                <p class="device_sale_price">24.000.000đ</p>
                                <p class="device_old_price">28.000.000đ</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="each_device">
                        <div class="device_head">
                            <a href="" class="device_thumb">
                                <img src="~/Content/images/ip15.png" />
                            </a>
                        </div>
                        <div class="device_body">
                            <a href="" class="device_name">Iphone 15 8GB 256GB</a>
                            <div class="device_price">
                                <p class="device_sale_price">24.000.000đ</p>
                                <p class="device_old_price">28.000.000đ</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="each_device">
                        <div class="device_head">
                            <a href="" class="device_thumb">
                                <img src="~/Content/images/ip15.png" />
                            </a>
                        </div>
                        <div class="device_body">
                            <a href="" class="device_name">Iphone 15 8GB 256GB</a>
                            <div class="device_price">
                                <p class="device_sale_price">24.000.000đ</p>
                                <p class="device_old_price">28.000.000đ</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
</body>
</html>
<style>
    body {
        font-family: 'Times New Roman';
        font-size: 14px;
        color: black;
        line-height: 1.15;
    }

        body * {
            padding: 0;
            margin: 0;
        }

    #wrapper {
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 150px;
    }

    .hot_sale {
        text-align: center;
        margin: 20px 0px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    #time_sale {
        display: flex;
        align-items: center;
    }

    #sale_title {
        font-size: 30px;
        color: red;
        padding: 10px 20px;
        text-transform: uppercase;
        border-bottom: 3px dashed #ff0000;
        display: inline-block;
        font-weight: 600;
    }

    .sale_devices {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        .sale_devices li {
            flex-basis: 25%;
            padding-left: 10px;
            padding-right: 10px;
            box-sizing: border-box;
            margin-bottom: 30px;
        }

            .sale_devices li img {
                max-width: 100%;
                height: auto;
            }

            .sale_devices li a {
                text-decoration: none;
            }
    .device_name{
        color:black;
        display:block;
        margin: 15px 0px;
        text-align:center;
    }

    .device_sale_price{
        text-align:center;
        font-size: 18px;
        color:red;
        font-weight:800;
    }
    .device_old_price {
        text-align:center;
        font-size: 13px;
        color: gray;
        text-decoration:line-through;
    }
    #comment {
        width: 1012px;
        height: 478px;
        margin: 0px auto;
        margin-top: 184px;
        margin-bottom: 50px;
    }

        #comment h2 {
            text-align: center;
            margin-bottom: 50px;
            font-size: 32px;
            color: #626a67;
        }


    #comment-body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1000px;
        height: 400px;
        list-style: none;
        overflow: hidden;
    }

    #list-comment {
        width: 100%;
        height: 100%;
        list-style: none;
        transition: 0.5s;
    }

        #list-comment .item {
            width: 100%;
            height: 100%;
            background: #362f2f;
            border-radius: 20px;
            padding-top: 50px;
        }

            #list-comment .item .avatar {
                text-align: center;
                margin-top: 13px;
            }

            #list-comment .item .stars {
                display: flex;
                margin: 0px auto;
                width: 50%;
                margin-top: 32px;
                justify-content: center;
                align-items: center;
            }

            #list-comment .item .name {
                text-align: center;
                font-weight: bold;
                color: #fff;
            }

            #list-comment .item .text {
                padding: 20px 50px;
                color: #fff;
            }
</style>
<script>
    const next = document.querySelector('.next')
    const prev = document.querySelector('.prev')
    const comment = document.querySelector('#list-comment')
    const commentItem = document.querySelectorAll('#list-comment .item')
    var translateY = 0
    var count = commentItem.length

    next.addEventListener('click', function (event) {
        event.preventDefault()
        if (count == 1) {
            // Xem hết bình luận
            return false
        }
        translateY += -400
        comment.style.transform = `translateY(${translateY}px)`
        count--
    })

    prev.addEventListener('click', function (event) {
        event.preventDefault()
        if (count == 3) {
            // Xem hết bình luận
            return false
        }
        translateY += 400
        comment.style.transform = `translateY(${translateY}px)`
        count++
    })
</script>