
@{
    ViewBag.Title = "CartPartial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>CartPartial</h2>
<a class="getstarted scrollto active" href="@Url.Action("Cart", "Cart")" style="font-weight:bold; text-decoration:none">
    Cart(@ViewBag.sumProductQuantity)
</a>


