
@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ConfirmOrder</h1>
<p>
    We will send you email soon!!!
</p>
<p>
    @Html.ActionLink("Back to Home", "Home", "Home")
</p>

